.horizontal-ruler {
  height: 0.1px;
  width: 100vw;
  position: absolute;
  top: 1.56rem;
  background-color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.page-wrapper {
  background-color: #0c0c1e;
  color: #fdfffcff;
  font-family: "Montserrat";
  font-weight: 100;
  padding: 0 1rem;
  margin: 0;
  font-size: 12pt;
  min-height: 100vh;
}

nav.mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.5px rgba(253, 255, 252, 0.3);
  font-size: 1.3rem;
  height: 2.4em;
  user-select: none;
}

a:hover,
.hamburger-icon:hover {
  opacity: 0.5;
  transition: 0.3s ease;
}

.hamburger-icon {
  cursor: pointer;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 1.3rem;
}

.hamburger-menu li {
  width: 100%;
}

.hamburger-menu a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.4em;
}

/* .dropdown {
  display: none;
} */

/* .cv:hover > .dropdown {
  display: block;
} */

.dropdown li {
  background-color: #151535;
}

.content-wrapper {
  position: absolute;
  top: 3.12em;
  bottom: 3.12em;
  display: flex;
  flex-direction: column;
  left: 1rem;
  right: 1rem;
}

.under-construction {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  width: 100%;
  flex: 1;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  height: 2.4em;
  border-top: solid 0.5px rgba(253, 255, 252, 0.3);
  font-size: 1.3rem;
}
