.arrow {
 border: solid #fdfffc;
 border-width: 0 0.05rem 0.05rem 0;
 display: block;
 width: 0.4rem;
 height: 0.4rem;
 transition: 0.3s ease;
}

.arrow.left {
 transform: translateX(calc(-0.207106781185 * 0.4rem)) rotate(-225deg);
}

.arrow.up {
 transform: translateX(calc(-0.207106781185 * 0.4rem))
  translateY(calc(0.35355339 * 0.2rem)) rotate(-135deg);
}

.arrow.right {
 transform: translateX(calc(-0.207106781185 * 0.4rem)) rotate(-45deg);
}

.arrow.down {
 transform: translateX(calc(-0.207106781185 * 0.4rem))
  translateY(calc(-0.35355339 * 0.2rem)) rotate(45deg);
}
